<% if(locals.errors) { %>
    <ul class="list-disc list-inside">
        <% locals.errors.forEach((error) => { %>
            <li class="text-red-600"><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>