<header class="w-full max-w-7xl flex p-4">
    <nav class="w-1/2 flex justify-start">
        <ul class="flex gap-8">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div class="w-1/2 flex justify-center">
        <a href="/" class="text-center">
            <h1>WhisperSpace</h1>
        </a>
    </div>
    <div class="w-1/2 flex justify-end">
        <a class="text-center" href="http://www.github.com/headlessNode/whisper-space" target="_blank">
            GitHub
        </a>
    </div>
</header>