<header class="w-full border-b">
    <nav class="w-full max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">
        <a href="/" class="font-bold text-xl">WhisperSpace</a>
        <div class="flex items-center gap-6">
            <% if (locals.user) { %>
                <a href="/" class="hover:text-gray-600">Home</a>
                <a href="/post/create" class="hover:text-gray-600">Create a Post</a>
                <a href="/membership" class="bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700">Become a Member</a>
                </div>
            <% } else { %>
                <a href="/login" class="hover:text-gray-600">Login</a>
                <a href="/register" class="px-4 py-2 bg-black text-white rounded-md hover:bg-black/80">
                    Register
                </a>
            <% } %>
        </div>
    </nav>
</header>