<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WhisperSpace - Error</title>
        <link rel="stylesheet" href="/output.css">
    </head>
    <body>
        <wrapper class="w-full flex flex-col items-center">
            <main class="mt-64 px-4">
                <div class="bg-red-100 border border-red-500 p-6 rounded-md shadow-lg flex gap-6 items-center">
                    <div class="flex-shrink-0 bg-red-600 text-white w-12 h-12 rounded-full flex items-center justify-center font-bold text-xl">
                        X
                    </div>
                    <div>
                        <h1 class="text-xl font-semibold text-red-600 mb-2">Oops! Something went wrong.</h1>
                        <p class="text-lg text-gray-800">
                            <%= err.message %>
                        </p>
                        <a href="/" class="text-blue-600 hover:underline hover:text-gray-600">Go to Homepage</a>
                    </div>
                </div>
            </main>
        </wrapper>
    </body>
</html>
