<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WhisperSpace - Login</title>
        <link rel="stylesheet" href="/output.css">
    </head>
    <body>
        <wrapper class="w-full flex flex-col items-center">
            <%- include('partials/header') %>
            <main>
            </main>
        </wrapper>
    </body>
</html>